* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
.logo {
  width: 200px;
  height: 200px;
}
.nav-menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(226, 226, 244);
}
.nav-menu ul li {
  list-style: none;
}
.nav-menu ul li a {
  text-decoration: none !important;
  color: rgb(71, 71, 203);
}
iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
/* CSS general */
/*.mi-iframe {
  width: 800px;
  height: 50px;
}*/

/* CSS pantallas de 320px o superior */
@media (min-width: 400px) {
  .mi-iframe {
    /*width: 400px;*/
    height: 100px;
  }
}

/* CSS pantalla 768px o superior */
@media (min-width: 768px) {
  .mi-iframe {
    /*width: 500px;*/
    height: 100px;
  }
}
.contact {
  width: 100%;
  height: 300px;
  display: flex;
  padding-top: 100px;
  justify-content: center;
}
p {
  padding: 0 10px;
  font-size: large;
}
.green {
  color: green;
  font-size: large;
}
